<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="fr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" class="ltr fr no-js">
<head>
	<title>Passion running Annonces</title>
	<meta name="description" content="Petites annnonces d'articles de course à pied d'occasion" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="css/reset.css" type="text/css" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
	<div id="rubrique">
		<!--gauche-->
		<div id="gauche">
			<h1>Annonces à valider</h1>

			{% for annonce in annonces %}
			<!--début blocannonce-->
			<div class="blocannonce">
				<!-- début date -->
				<div class="dateannonce">
					<p>3 Septembre</p>
					<p>18:44</p>
				</div>
				<!-- // date -->

				<!-- début photo -->
				<div class="photoannonce"><img src="images/annonce1.jpg" alt="titre annonce 1" class="imgliste" /></div>
				<!-- // photo -->

				<!-- début contenuannonce -->
				<div class="contenuannonce">
					<span class="titreannonce">{{annonce.titre}}</span>
					<span class="texteannonce">
					<p>{{annonce.texte}}</p>
					<p>Téléphone : {{annonce.tel}}</p>
					<p>Email : {{annonce.user.email}}</p>
					<p>Rubrique : {{annonce.category.name}}</p>
					<p>Lieu : {{annonce.code_postal}} {{annonce.ville}}</p>		
					</span>
					<span class="prixannonce">{{annonce.prix}} €</span>
				</div>
				<!-- // contenuannonce -->
				<div class="validation">
					<button class="valid">Valider l'annonce</button>
					<button class="supp">Supprimer l'annonce</button>
				</div>
			</div>
			<!--// blocannonce-->
			{% endfor %}
		</div><!--//gauche-->
	</div><!--.rubrique-->

	<div id="footer">
		<div class="footer"></div>
	</div>
</body>
</html>